* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: gray;
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: monospace;
  background: rgba(76, 130, 175, 0.5)
}
.logo {
  color:navy;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}
.nav-links a {
  color: navy;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.mobleNav {
  display: none;
}
.mobleNav div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: navy;
  transition: all 0.3s ease;
}
.top{
  text-align: center;
  background-color: honeydew;
  max-width: 100%;
  height: 500px;
  background-image: url(sunrise-top.jpeg);
  background-size: cover;
  background-position: center center;
}

#home{
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: white;
}
#about{
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(130, 212, 223);
  
}
#about div{
  font-family: monospace;
  color:wheat;
  position: relative;
  top: 200px;
}
#about h1{
  font-family: monospace;
  color:wheat;
  position: relative;
  top: 150px;
  font-size: 50px;
}
#pata{
  width: 400px;
  position: relative;
  top: 300px;
}
#projects{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(240, 180, 180);
  text-align: center;
}
.moutain1{
  width: 200px;
  margin: 10px;
}
.moutain1:hover{
opacity: 50%;

}
.moutain2{
  width: 200px;
  margin: 10px;
}
.moutain3:hover{
  opacity: 50%;
}
.moutain3{
  width: 200px;
  margin: 10px;
}
.moutain2:hover{
  opacity: 50%;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: thistle;
}

#icon{
  margin: 10px;
}
#linked-in{
  width: 30px;
}
#instagram{
  width: 30px;
}
#mail{
  width: 30px;
}
#phone{
  width: 30px;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 760px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: rgba(76, 175, 80, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  body {
    overflow-x: hidden;
  }
 
  .nav-links li {
    opacity: 0;
  }
  .mobleNav{
    
      display: block;
      cursor: pointer;
  }
  #projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(240, 180, 180);
    text-align: center;
    overflow: scroll;
  }
}


.nav-active{
    transform: translateX(0%);
    
}
  


@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}